doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
    script(src="https://bundle.run/buffer@6.0.3")
    title Nazupay Simulator

  body.bg-gray-200.text-gray-700
    div.bg-blue-800.shadow-lg.p-4
      p.text-3xl.font-bold.text-white NAZUPAY - Sandbox

    div.relative
      div.max-w-md.p-4
        form#searchva.bg-white.rounded.p-4.shadow-lg.relative
          label(for="virtualaccount", class="text-2xl") Virtual Account
          div.relative.mb-6
            input(type="text", pattern="\\d+", name="virtualaccount", placeholder="e.g: 002241233443233", class='shadow w-full appearance-none border rounded p-2 text-base focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent' required)
            span.absolute.inset-y-0.right-0.flex.items-center
              button(class='p-1 focus:outline-none focus:ring-2 focus:ring-blue-600 hover:bg-blue-500 bg-blue-400 rounded-r h-full', type="submit")
                svg(fill="none", stroke="white", stroke-linecap="round", stroke-linejoin="round", stroke-width="2", viewBox="0 0 24 24", class="w-8 h-6")
                  path(d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z")
          p#errorsearch.absolute.bottom-6.text-xs.text-red-500

        div.bg-white.rounded.mt-8.shadow-lg.p-4.detail-va.hidden
          p.text-2xl.border-b-2.border-gray-400 DETAIL
          div.mt-5
            p Nama : 
              span#name
            p Virtual Account : 
              span#va
            p Jumlah : 
              span#amount
            p Deskripsi : 
              span#desc

        div.bg-white.rounded.mt-8.shadow-lg.p-4.detail-va.hidden
          p.text-2xl.border-b-2.border-gray-400 Bayar
          div.mt-5
            form#payment
              input(type="text", name="amount", placeholder="10000", pattern="\\d+", class='shadow w-full appearance-none border rounded p-2 text-base focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent' required)
              button(class='bg-green-600 hover:bg-green-700 focus:ring-2 focus:ring-green-800 rounded text-white p-2 mt-2') Bayar

      div#notif.absolute.top-4.right-5.flex.flex-col.gap-2.text-base

  script(src="/js/index.js") 